/* 
small:    < 640px
medium:   640px - 1008px
large:    > 1008px 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --title-page-height: 5rem;
  --nav-page-height: 5rem;
  --out-content-height: calc(var(--title-page-height) + var(--nav-page-height));
  --layout-content-height: calc(100% - var(--out-content-height));
  --layout-nav-width: 10rem;
  --layout-content-width: calc(100% - var(var(--layout-content-width)))

  --padding-x-small: 1rem;
  --padding-x-medium: 2rem;
  --padding-x-large: 4rem;

  --top-small: 2rem;
  --bottom-small: 2rem;

  --top-medium: 3rem;
  --bottom-medium: 3rem;

  --top-large: 4rem;
  --bottom-large: 4rem;
}

.wrapper {
  padding: 0 var(--padding-x-small);
}

.full-view {
  width: 100%;
  min-height: calc(100vh - var(--out-content-height));
}

.top,
.bottom {
  height: var(--top-small);
}

.top-as-padding {
  padding-top: var(--top-small);
}

.bottom-as-padding {
  padding-bottom: var(--top-small);
}

@media (min-width: 640px) {
  .wrapper {
    padding: 0 var(--padding-x-medium);
  }

  .full-view {
    min-height: calc(100vh - var(--title-page-height));
  }

  .top,
  .bottom {
    height: var(--top-medium);
  }

  .top-as-padding {
    padding-top: var(--top-medium);
  }

  .bottom-as-padding {
    padding-bottom: var(--top-medium);
  }
}

@media (min-width: 1008px) {
  .wrapper {
    padding: 0 var(--padding-x-large);
  }

  .full-view {
    min-height: calc(100vh - var(--title-page-height));
  }

  .top,
  .bottom {
    height: var(--top-large);
  }

  .top-as-padding {
    padding-top: var(--top-large);
  }

  .bottom-as-padding {
    padding-bottom: var(--top-large);
  }
}
