#layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "title"
    "content"
    "nav";
  grid-template-columns: 100%;
  grid-template-rows:
    var(--title-page-height)
    var(--layout-content-height)
    var(--nav-page-height);
}

app-header {
  grid-area: title;
  display: block;
}

#wrapper-content {
  grid-area: content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  overflow-y: auto;
  position: relative;
}

app-nav {
  grid-area: nav;
}

.closed-nav-layout {
  grid-template-areas:
    "title title"
    "content content"
    "content content" !important;
}

.no-nav {
  display: none;
}

@media (min-width: 640px) {
  #layout {
    grid-template-areas:
      "nav title"
      "nav content"
      "nav content";
    grid-template-columns:
      var(--layout-nav-width-medium)
      var(--layout-content-width);
  }
}

@media (min-width: 1008px) {
  #layout {
    grid-template-columns:
      var(--layout-nav-width-large)
      var(--layout-content-width-large);
  }
}
