#header {
  width: 100%;
  height: var(--title-page-height);
  box-shadow: inset black 0 -3px 8px -7px;
  display: grid;
  grid-template-areas: "toggle-nav enterprise title-page . user-options";
  grid-template-columns: 4rem 15rem auto 15rem 4rem;
  padding: 1rem;
}

#toggle-nav {
  grid-area: toggle-nav;
}

#enterprise {
  grid-area: enterprise;
  padding-left: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

#title-page {
  grid-area: title-page;
  justify-content: center;
}

#user-options {
  grid-area: user-options;
}

#toggle-nav,
#enterprise,
#title-page,
#user-options {
  display: flex;
  align-items: center;
}

span {
  font-size: 1.2rem;
}

h1 {
  font-size: 1.4rem;
}

#logo {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}
