* {
  --wrapper-lottie-height: 300px;
  --lottie-height: 280px;
  --app-home-title-height: 4.5rem;
  --content-height: calc(
    100% - (var(--wrapper-lottie-height) + var(--app-home-title-height))
  );
}

section {
  display: grid;
  grid-template-rows:
    var(--app-home-title-height)
    var(--wrapper-lottie-height)
    var(--content-height);
  grid-template-areas:
    "title"
    "lottie"
    "content";
}

.title {
  grid-area: title;
  font-size: 2.5rem;
}

.wrapper-lottie {
  grid-area: lottie;
}

.content {
  grid-area: content;
  display: flex;
  font-size: 1.1rem;
  line-height: 2rem;
}

.title,
.wrapper-lottie,
.content {
  display: flex;
  justify-content: center;
}

app-carousel {
  padding-top: 2rem;
  width: 100%;
  min-width: 100%;
}

lottie-player {
  width: var(--lottie-height);
  height: var(--lottie-height);
}

/* Styles nav
Responsive content
Fix cards */
