* {
  --wrapper-lottie-height-small: 300px;
  --lottie-height-small: 280px;
  --app-home-title-height-small: 4.5rem;
  --content-height-small: calc(
    100% -
      (var(--wrapper-lottie-height-small) + var(--app-home-title-height-small))
  );
}

section {
  display: grid;
  grid-template-rows:
    var(--app-home-title-height-small)
    var(--wrapper-lottie-height-small)
    var(--content-height-small);
  grid-template-areas:
    "title"
    "lottie"
    "content";
}

.title {
  grid-area: title;
  font-size: 2.5rem;
}

.wrapper-lottie {
  grid-area: lottie;
}

.content {
  grid-area: content;
  display: flex;
  line-height: 2rem;
  /* padding: 0 8%; */
}

.title,
.wrapper-lottie,
.content {
  display: flex;
  justify-content: center;
}

app-carousel {
  padding-top: 2rem;
  width: 100%;
  min-width: 100%;
}

lottie-player {
  width: var(--lottie-height-small);
  height: var(--lottie-height-small);
}

@media (min-width: 400px) {
  .content {
    padding: 0 8%;
  }
}

@media (min-width: 500px) {
  .content {
    padding: 0 10%;
  }
}

@media (min-width: 1008px) {
  .section-medium {
    grid-template-rows: 40% 60%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "lottie title"
      "lottie content";
  }

  .title-medium {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 3rem;
  }

  .wrapper-lottie-medium,
  .wrapper-lottie-medium lottie-player {
    width: 100%;
    height: 100%;
  }

  .content-medium {
    text-align: center;
  }
}
